* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 500px;
  margin: 50px auto;
}
.form {
  display: inline-grid;
  grid-template-columns: 150px 150px 150px 150px;
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}
