* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  display: inline-grid;
  grid-template-columns: 150px 150px 150px 150px;
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}
/* header */
.header {
  display: flex;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 100px 10px;
  justify-content: space-between;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}
.header-title {
  display: flex;
  font-size: 20px;
}
.header-icon-title {
  position: absolute;
  left: 70px;
  top: 19px;
  font-size: 22px;
}
.none {
  cursor: pointer;
}
.header-menu {
  display: flex;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 20px;
  margin-top: 10px;
  position: relative;
}
li {
  list-style: none;
}
li:hover {
  cursor: pointer;
}
.line {
  height: 2px;
  background-color: red;
  position: fixed;
  pointer-events: none;
  transition: all 0.2s linear;
}
.home {
  color: red;
}
/* .header-menu::after {
  width: 40px;
  height: 2px;
  background-color: red;
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  transition: transform linear 0.1s;
} */

.header-menu {
  text-decoration: none;
  color: black;
  position: relative;
}
.buy_count {
  width: 24px;
  height: 24px;
  padding: 4px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  right: -36px;
  border: 2px solid #fff;
  top: -12px;
  color: white;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
}
/* main_menu */
main {
  width: 1200px;
  margin: 20px auto;
}
.list {
  display: grid;
  margin: 0 225px;
  grid-template-columns: 180px 180px 180px 180px;
  column-gap: 10px;
  row-gap: 20px;
  text-align: center;
}
.item {
  border: 2px solid #eee;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  /* max-height: 200px;
  overflow: hidden; */
}
.item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.item-imgs {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;
}
.item-img {
  text-align: center;
  width: 100%;
}
.item-title {
  font-weight: 600;
  margin-bottom: 4px;
  padding: 0 8px;
  height: 40px;
  line-height: 20px;
  font-size: 18px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.item-info {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0 10px;
  font-size: 12px;
}
.item-icon {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  bottom: 36px;
  right: -4px;
}
.item-add {
  color: #fe6332;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: 8px;
}
.buy_display {
  cursor: pointer;
}
.buy_icon {
  position: absolute;
  right: -20px;
  top: 3px;
}
/* main_buy */
.back,
.finish {
  background-color: #fe6332;
  color: white;
  border-radius: 4px;
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
}
#buy {
  background-color: #27aa99;
  color: white;
  border-radius: 4px;
  width: 50px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.title {
  display: grid;
  grid-template-columns: 600px 200px 100px 100px 100px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}
.list_buy {
  display: flex;
  text-align: center;
  margin-bottom: 12px;
  max-height: 400px;
}
.buy-name {
  width: 600px;
  height: 30px;
  text-align: left;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  margin-right: 45px;
}
.buy-quality {
  width: 150px;
  display: grid;
  grid-template-columns: 30px 50px 20px;
}
.buy-price,
.buy-del,
.buy-sum,
.return_item {
  width: 100px;
}
.buy-price {
  margin-right: 8px;
}
.buy {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#buy {
  margin-right: 40px;
}
.img {
  text-align: center;
}
.buy-del,
.return_item {
  color: red;
  cursor: pointer;
}
.plus-icon,
.minus-icon {
  /* margin: 0 24px; */
  cursor: pointer;
  border: 1px solid #eee;
  padding: 4px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.plus-icon:hover {
  background-color: #fe6332;
}
.minus-icon:hover {
  background-color: #27aa99;
}
.total {
  display: flex;
  align-items: center;
}
.bill {
  margin-right: 30px;
}
/* Trang thanh toan */
.buy_form {
  border: 1px solid rgba(128, 128, 128, 1);
  margin: 0 auto;
  background-color: white;
}
.form_title {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.form_content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 30px 20px;
}
.form_com .username {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.address {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  text-align: center;
  margin-bottom: 10px;
}
.form_title i {
  cursor: pointer;
}
.confirm {
  text-align: right;
  padding: 20px;
}
.close:hover {
  opacity: 0.8;
}
.form-select {
  width: 300px;
  text-align: center;
}
.form_wrong {
  color: red;
  font-size: 15px;
}
.address {
  margin-bottom: 12px;
}
/* Trang thanh toan */
.confirm_grid {
  display: grid;
  text-align: center;
  grid-template-columns: 150px 250px 100px 200px 200px 200px 100px;
  grid-template-rows: 20px;
  row-gap: 12px;
}
.confirm_name {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#back2,
.finish {
  margin-top: 12px;
}
.details {
  color: blue;
  cursor: pointer;
}
.details:hover {
  text-decoration: underline;
}
.confirm_item_buy {
  width: 600px;
  margin: 12px;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.item_buy,
.item_buy_title {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  column-gap: 8px;
  row-gap: 8px;
  text-align: center;
}
.item_buy_name {
  height: 50px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.close_list {
  cursor: pointer;
}
.close_list:hover {
  opacity: 0.8;
}
.max_item {
  text-align: center;
  color: red;
  font-size: 20px;
  margin: 12px;
  margin-top: 30px;
}
.confirm_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.finish {
  background-color: #198754;
  width: max-content;
  padding: 0 12px;
}
.back:hover {
  opacity: 0.8;
}
.finish:hover {
  opacity: 0.8;
}
.info {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}
/* Success */
.success {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #0d6efd;
  width: max-content;
  margin: 200px auto;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}
/* Trang danh sach don hang */
#order {
  width: 1200px;
  height: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 24px;
  background-color: #f3f4fb;
  border-radius: 8px;
}
.order-gird,
.order-grid-items {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 120px;
  grid-template-rows: 30px;
  text-align: center;
  line-height: 30px;
}
.order-menu {
  background-color: white;
  padding: 4px;
}
.order-gird {
  background-color: #f3f4fb;
  border-radius: 4px;
  border-bottom: 12px;
}
.order-search {
  border-radius: 29px;
  border: 2px solid #f3f4fb;
  margin-bottom: 8px;
  padding: 4px;
  padding-left: 8px;
  font-size: 12px;
}
.order-title {
  padding: 6px;
  background-color: white;
  border-radius: 12px;
}
.order-grid-items {
  border-radius: 4px;
}
.order-grid-items:nth-child(odd) {
  background-color: white;
}
.order-detail {
  position: relative;
}
.order-item {
  width: 300px;
  background-color: #f3f4fb;
  text-align: left;
  display: none;
  padding: 8px;
}
.order-detail:hover .order-item {
  display: block;
  position: absolute;
  left: -130px;
  z-index: 2;
}
/*  */
#order-detail {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.order-detail-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.order-detail-body {
  width: 600px;
  height: 300px;
  background-color: #f3f4fb;
  margin: auto;
  border-radius: 8px;
  padding: 8px;
  z-index: 2;
}
