* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form {
  display: inline-grid;
  grid-template-columns: 150px 150px 150px 150px;
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}
header {
  display: flex;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 10px 100px 10px;
  justify-content: space-between;
}
.header-title {
  display: flex;
}
h2 {
  font-size: 20px;
}
.header-icon-title {
  position: absolute;
  left: 70px;
  top: 13px;
}
.header-menu {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  column-gap: 20px;
}
a {
  text-decoration: none;
  color: black;
}
main {
  width: 1200px;
  margin: 50px auto;
}
.list {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  column-gap: 10px;
  row-gap: 20px;
  text-align: center;
}
.item {
  border: 2px solid #eee;
}
.item-imgs {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;
}
.item-img {
  text-align: center;
  width: 100%;
}
.item-title {
  font-size: 20px;
  font-weight: 600;
}
.item-info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0 20px;
}
